[Unit]
Description=Set the battery charge threshold
After=multi-user.target
StartLimitBurst=0

[Service]
Type=oneshot
Restart=on-failure
ExecStart=/bin/bash /usr/local/bin/resume.sh charge

[Install]
WantedBy=multi-user.target
